[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.7.1"
ibmcloudenv = "*"
livereload = "*"
Flask = ">=1.0.0"
prometheus_client = "*"
cloudant = "*"
click = "*"
pyqrcode = "*"
datetime = "*"
qrcode = "*"
pillow = "~=9.3.0"
pyjwt = "*"
